<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GestureX - Try Module</title>
    <!-- <link rel="stylesheet" href="/static/try.css"> -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/tryFinal.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Gesture<span style="color: turquoise;">X</span></h1>
            <a href="/"> ← Back to Home</a>
        </div>

        <!-- Phase Selection -->
        <div class="phases">
            <div class="phase-card" id="alignmentCard">
                <h2>🎯 Alignment</h2>
                <p>Position your face properly for optimal tracking</p>
                <!-- <button class="btn" onclick="startPhase('alignment')">Start Alignment</button> -->
                <button class="btn" onclick="launch('/alignment')">Run</button>            
            </div>

            <div class="phase-card" id="calibrationCard">
                <h2>📍 Calibration</h2>
                <p>Calibrate the system with your gaze patterns</p>
                <!-- <a href="/calibration"><button class="btn" id="calibrationBtn" onclick="startPhase('calibration')" disabled>Start Calibration</button></a> -->
                <button class="btn" onclick="launch('/calibration')">Run</button>
            </div>

            <div class="phase-card" id="cursorCard">
                <h2>🖱️ Cursor Control</h2>
                <p>Control the cursor using your eyes</p>
                <!-- <a href="/cursor"><button class="btn" id="cursorBtn" onclick="startPhase('cursor_control')" disabled>Start Cursor</button></a> -->
                <button class="btn" onclick="launch('/cursor')">Run</button>
            </div>
        </div>
        
        <div class="card-stop">
            <h3>Stop Process</h3>
            <button class="btn-stop" onclick="launch('/stop')">Stop</button>
        </div>

        <p id="status" style="text-align:center;font-size:20px;margin-top:20px;"></p>

        <script>
        function launch(route) {
            fetch(route)
            .then(res => res.json())
            .then(data => {
                document.getElementById('status').innerText = data.status;
            });
        }
        </script>
    </div>
</body>
</html>
